<h4><%= flash[:alert] %><h4>

<div style="background-color:#e9eaed;">
  <h1>Edit Post</h1>
  <form action="/wall/edit_complete" method="post">
    <input type="hidden" name="id" value="<%= @post_edit.is %>">
    Name: <input type="text" name="writer_deit" value="<%= @post_edit.name %>"><br>
    Content: <br>
    <textarea name="content_deit" cols="40" rows="5"><%= @post_edit.content %></textarea>
    <input type="submit" value="edit">
  </form>
</div>
