<div class="container">
  <% if !flash[:alert].nil? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading"> 맛집 게시글 수정하기</h3>


<form action="/foods/edit_complete" method="post">
  <input type="hidden" name="id" value="<%= @post.id %>">
  <p>분류
  <select name="post_category">
     <option value="한식">한식</option>
     <option value="일식">일식</option>
     <option value="중식">중식</option>
     <option value="양식">양식</option>
   </select></p>
   <p> <input class="form-input" type="text" name="post_title" value="<%= @post.title %>"></p>
   <p>내용: <textarea class="form-textarea" name="post_content"><%= @post.content %></textarea></p>
   <input class="btn btn-lg btn-block" type="submit" value="수정하기">
 </form>
 </div>
 <div class="col-md-4">
 </div>
 </div>
 </div>
